*{
    padding: 0;
    margin: 0;
}
.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container1{
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(68, 54, 96);
}
.heading{
    font-family: "Poppins", sans-serif;
}
.textField{
    outline: none;
    border-radius: 10px;
    border: solid 0.5px;
    padding: 1px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.btn1{
    border-radius: 7px;
    padding: 3px;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: white;
}
.btn1:hover{
    background-color: rgb(16, 66, 16);
    transition: .5s;  
}
.output{
    padding-top: 5px;
    /* text-align: center; */
    height: 150px;
    width: 200px;
    background-color: rgb(164, 218, 218);
    display: flex;flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 6px;
}
.text{
    font-weight: bold;
    font-size: 12px;
}
.para{
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 78px;
    margin-bottom: 13px;
    margin-top: -10px;
    background-color: antiquewhite;
}
.nor{
    margin-top: -10px;
}
.tip{
    color: #625d5d;
    font-size: 9px;
    font-weight: bold;
    padding: 0px 10px;
    margin-top: -5px;
    text-align: center;
}

